de-DE is not being recognized

If I run this, the library **correctly** returns "German":

```python
Language.make("de").display_name()
```

But if I run this:

```python
Language.make("de-DE").display_name()
```

The library **incorrectly** returns "Unknown language [de-DE]", but I was expecting it to return something indicating that it's the German that is used in Germany. See [this example in RFC 4647 Section 3.3.1](https://datatracker.ietf.org/doc/html/rfc4647#section-3.3.1) (or Section 4).

Use
```python3
Language.get("de-DE").display_name()
```

Result:
```
"German (Germany)"
```

`make` accepts each of the pieces as separate keywords:
```
Help on method make in module langcodes:

make(
    language: Optional[str] = None,
    extlangs: Optional[Sequence[str]] = None,
    script: Optional[str] = None,
    territory: Optional[str] = None,
    variants: Optional[Sequence[str]] = None,
    extensions: Optional[Sequence[str]] = None,
    private: Optional[str] = None
) -> 'Language' class method of langcodes.Language
    Create a Language object by giving any subset of its attributes.

    If this value has been created before, return the existing value.
```

`get` accepts and parses a language tag:
```
get(tag: Union[str, ForwardRef('Language')], normalize=True) -> 'Language'
    Create a Language object from a language tag string.

    If normalize=True, non-standard or overlong tags will be replaced as
    they're interpreted. This is recommended.
```

The PR would still be useful, though, so that the behavior matches `de-AT` and `de-CH`, though, I agree. Not sure ChatGPT should be used for the names.