Territory subtags are treated case-sensitively in violation of BCP 47

According to [section 2.1.1 of RFC 5646](https://datatracker.ietf.org/doc/html/rfc5646#section-2.1.1):

> At all times, language tags and their subtags, including private use and extensions, are to be treated as case insensitive: there exist conventions for the capitalization of some of the subtags, but these MUST NOT be taken to carry meaning.

However, the display names of `es-ar` (`Spanish (Arabic)`) and `es-AR` (`Spanish (Argentina)`) are different, even though the language codes only differ by case:

```python
>>> from langcodes import Language, standardize_tag
>>> es_ar = Language.make(language='es', territory='ar')
>>> es_AR = Language.make(language='es', territory='AR')
>>> standardize_tag(es_ar)
'es-AR'
>>> standardize_tag(es_AR)
'es-AR'
>>> es_ar.display_name()
'Spanish (Arabic)'
>>> es_AR.display_name()
'Spanish (Argentina)'
```

Looking through the code, I suspect the problem is because `language_data.names.code_to_names()` is case sensitive and combines language and territory information into a single `dict`:

```python
>>> from language_data.names import code_to_names
>>> code_to_names('ar') == code_to_names('AR')
False
```

I'm not sure what the best way to handle this problem is. Maybe standardizing tags before converting to names would be sufficient? Or maybe splitting the `dict` backing `code_to_names()` by category would be more robust? I'm unfamiliar with the codebase, so I don't feel confident enough to submit a patch myself without some input from someone who knows it better.